body{
    margin:0;
    padding:0%;
    justify-content: center;
    align-items: center;
}

.solution_page{
    /* background-image: url("./../extra/dep_sol.jpg"); */
    background-repeat: no-repeat;
    margin:0px;
    overflow: hidden;
}

.solution_box{
    display: inline-block;
    padding: 6rem;
    border-radius: 3rem;
    margin: 50px 50px 50px 50px;
    background-color: #f17b7b;
    height: fit-content;
    box-shadow: 0.7rem 1rem 1rem -0.7rem rgb(0, 0, 0);
}

.solution_box h1 {
    position: relative;
    margin: 20px;
    padding: 0;
    font-size: 48px;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.solution_box li {
    font-size: 20px;
}

.solution_box p {

    position: relative;
    margin: 0;
    padding: 0;
    font-size: 20px;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.solution_box a{
    text-decoration-line: none;
    color: rgb(91, 29, 153);
}

.text-left a.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #b95151; /* Bootstrap primary color */
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.text-left a.btn:hover {
    background-color: #b95151; /* Darker shade for hover effect */
    box-shadow: 0.2rem 0.6rem 0.8rem rgba(0, 0, 0, 0.3);
}