{% extends 'base.html' %}
{% block content %}
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../static/css/solution1.css">

    <title>Depression</title>
</head>
<body>
    <div class="content">
        <div class="solution_box">
            <h1 class="lol">Depression</h1>
            <p>Hey there, it seems like you're exploring information on Depression. Remember, you're not alone, and help is always available.</p><br/>

            <p>Depression can be overwhelming, but there are strategies you can try to manage your symptoms:</p>

            <ul>
                <li><b>Stay Connected:</b> Reach out to friends, family, or support groups. Talking to someone you trust can help alleviate feelings of isolation.</li>
                <li><b>Exercise Regularly:</b> Physical activity can boost your mood. Even a short walk can make a difference.</li>
                <li><b>Practice Mindfulness:</b> Engage in mindfulness exercises like deep breathing or meditation to calm your mind.</li>
                <li><b>Set Small Goals:</b> Break tasks into smaller, manageable steps to avoid feeling overwhelmed.</li>
                <li><b>Limit Stress:</b> Identify stressors in your life and find ways to reduce or manage them.</li>
            </ul>

            <br>
            <p>If you feel like you need more support, consider seeking professional help. You can connect with a psychiatrist for personalized guidance and treatment.</p>
            <br>

            <div class="text-left mt-4">
                <a href="https://www.practo.com/bangalore/doctors-for-depression-counselling?utm_source=opd_google_Pmax&utm_medium=&utm_campaign=21045690443&gclid=Cj0KCQjwz7C2BhDkARIsAA_SZKbkxQsL3gcLvtNbhUybkvUjMABcok9DfHWCRuh04yntWrfJNwar7scaAugBEALw_wcB" target="_blank" class="btn btn-primary btn-lg">Find a Psychiatrist</a>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock%}