{% extends 'base.html' %}
{% block content %}
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../static/css/solution2.css">

    <title>Anxiety</title>
</head>
<body>
    <div class="content">
        <div class="solution_box">
            <h1 class="lol">Anxiety</h1>
            <p>Hey there! Are you feeling a little on edge lately? You're not alone. Anxiety affects millions of people every day, but I'm here to help you understand what it is and what you can do about it.</p><br/>

            <p>Anxiety can make you feel nervous, stressed, and just not yourself. But there's a way to manage it. Here are some strategies you can try:</p>

            <ul>
                <li><b>Identify Your Triggers:</b> Recognize what causes your anxiety and work on strategies to manage or avoid them.</li>
                <li><b>Practice Relaxation Techniques:</b> Deep breathing, meditation, and yoga can help calm your mind and body.</li>
                <li><b>Stay Active:</b> Regular physical activity is a great way to reduce anxiety.</li>
                <li><b>Stay Connected:</b> Talk to someone you trust about your feelings. Support from others can make a big difference.</li>
                <li><b>Limit Caffeine and Sugar:</b> These can exacerbate anxiety symptoms, so it's good to keep them in check.</li>
            </ul>

            <br>
            <p>If you feel like your anxiety is too overwhelming, consider reaching out for professional help. A mental health professional can offer personalized guidance and treatment.</p>
            <br>
            <div class="text-left mt-4"><a href="https://www.practo.com/bangalore/doctors-for-anxiety-disorder-counselling?utm_source=opd_google_Pmax&utm_medium=&utm_campaign=21045690443&gclid=Cj0KCQjwz7C2BhDkARIsAA_SZKasDt5uOnUUQqYq0q6U3lhGX8wMmqP8zY4bfxPfduH8A_vrE4xXSV8aAtfpEALw_wcB" target="_blank" class="btn btn-primary btn-lg">Find a Psychiatrist</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
