{%extends 'base.html' %}
{% block content%}
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../static/css/solution3.css">

    <title>Anger</title>
</head>
<body>
    <div class="content">
        <div class="solution_box">
            <h1 class="lol">Anger Management</h1>
            <p>Anger is a natural and normal emotion, but when it becomes overwhelming or uncontrolled, it can affect your well-being and relationships. Understanding and managing anger is essential for a healthier life.</p><br/>

            <p>Here are some effective strategies for managing anger:</p>

            <ul>
                <li><b>Identify the Cause:</b> Understand what triggers your anger and address the root cause.</li>
                <li><b>Practice Relaxation Techniques:</b> Techniques such as deep breathing, meditation, or progressive muscle relaxation can help calm your mind.</li>
                <li><b>Exercise Regularly:</b> Physical activity can help reduce stress and manage anger more effectively.</li>
                <li><b>Communicate Effectively:</b> Express your feelings calmly and assertively without being aggressive.</li>
                <li><b>Seek Professional Help:</b> If you find it challenging to manage your anger on your own, consider consulting a mental health professional for guidance and support.</li>
            </ul>

            <br>
            <p>If you need further assistance or resources, don't hesitate to reach out for professional help.</p>
            <br>
            <div class="text-left mt-4"><a href="https://www.practo.com/bangalore/doctors-for-anger-management" target="_blank" class="btn btn-primary btn-lg">Find a Psychiatrist</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock%}