{% extends 'base.html' %}
{% block content%}
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../static/css/solution4.css">

    <title>Sleep Disorder</title>
</head>
<body>
    <div class="content">
        <div class="solution_box">
            <h1 class="lol">Sleep Disorder</h1>
            <p>Are you having trouble sleeping lately? Sleep disorders affect millions of people every day, but understanding and managing them is essential for better rest and overall well-being.</p><br/>

            <p>Here are some insights and strategies for dealing with sleep disorders:</p>

            <ul>
                <li><b>No Sleep Disorder:</b> <br/>If you don't have any symptoms of a sleep disorder, then you're in the clear!</li><br/>
                <li><b>Mild Sleep Disorder:</b> <br/>You might have trouble sleeping some nights but can still function during the day. To improve, try to establish a regular sleep routine, avoid caffeine and alcohol before bed, and reduce stress. Your doctor may also recommend therapy or medication.</li><br/>
                <li><b>Moderate Sleep Disorder:</b> <br/>You might struggle more with sleep and feel tired during the day. A mental health professional can help with therapy, medication, or a combination of both.</li><br/>
                <li><b>Severe Sleep Disorder:</b> <br/>It can be tough to function during the day with frequent sleep issues. Seek immediate help from a mental health professional for therapy, medication, or both.</li>
            </ul>

            <br>
            <p>Online assessments can provide an initial understanding, but they are not a substitute for professional evaluation. If you're having trouble sleeping, talking to a mental health professional is crucial for personalized help.</p>
            <br>
            <div class="text-left mt-4">
                <a href="https://www.practo.com/bangalore/doctor-for-sleep-disorder-treatment?utm_source=opd_google_Pmax&utm_medium=&utm_campaign=21045690443&gclid=Cj0KCQjwz7C2BhDkARIsAA_SZKbngQCpRqPJo9al1JoTA5SZPKqE3gYKhag3LC3RwEa4Glrf-VPetA8aAojFEALw_wcB" target="_blank" class="btn btn-primary btn-lg">Find a Psychiatrist</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
